@import 'reset';
@import 'colors';
@import 'fonts';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $dark-blue;
  color: $dark-blue;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 22px;
  border: 1px solid transparent;
  background-color: $field;
  border-radius: 15px;
  cursor: text;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  min-height: 25px;
  color: $dark-blue;
  outline: none;
  -webkit-appearance: none;
  &::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $placeholder;
  }
  &_error {
    border: 1px solid $system-error;
    color: $system-error;
  }
}